go 1.26.5

use (
	./services/ai
	./services/core
	./services/live
	./services/work
	./services/msg-danmaku
	./services/search
	./services/studio
	./services/bili-proxy
	./external/transcoder-nvenc
	./external/transcoder-cpu
	./external/transcoder-vaapi
	./external/whisper
	./external/embedding-vulkan
	./shared/pkg
)
